{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %} 
{% block body %}
    {% include "componenets/_navbar.html.twig" %}
    <div class ="container">
        <div class="row mt-5">
            {% for post in post_list %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{post.image}}" alt="" class="card-img-top">
                            <div class="cardbody">
                                <a href="/post">
                                    <h2 class="card-title">{{post.title | upper}}</h2>
                                </a>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

  
{% endblock %}
